@import "@/styles/media";

.dateCounterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateValue {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  color: var(--color-blue-dark);

  @include screen-lg {
    font-size: 4.5rem;
  }
}

.dateLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 64px;
  height: 40px;
  background-image: url('@/assets/date-label-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include screen-lg {
    width: 132px;
    height: 54px;
    background-image: url('@/assets/date-label.svg');
  }

  &::before {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--color-white);

    @include screen-lg {
      font-size: 1rem;
      text-transform: none;
    }
  }


  &[data-date-label="dd"] {
    &::before {
      content: 'dd';

      @include screen-lg {
        content: 'Days';
      }
    }
  }

  &[data-date-label="hh"] {
    &::before {
      content: 'hh';

      @include screen-lg {
        content: 'Hours';
      }
    }
  }

  &[data-date-label="mm"] {
    &::before {
      content: 'mm';

      @include screen-lg {
        content: 'Minutes';
      }
    }
  }

  &[data-date-label="ss"] {
    &::before {
      content: 'ss';

      @include screen-lg {
        content: 'Seconds';
      }
    }
  }

}


