$screen-xl: 1440px;
$screen-lg: 1024px;
$screen-md: 768px;;
$screen-sm: 640px;

@mixin screen-xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: $screen-sm) {
    @content;
  }
}


// учитывать наличие поддержки hover и none-hover устройства.
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
