@import "@/styles/media";

.footer {
  position: relative;
  background-color: var(--color-blue-dark);
}

.footerInner{
  padding-block: 50px;
  display: flex;
  justify-content: center;

  @include screen-sm {
    padding-block: 60px;
  }

  @include screen-lg {
    padding-top: 60px;
    padding-bottom: 72px;
  }
}

.form {
  position: relative;
  width: 100%;
  max-width: 280px;

  @include screen-sm {
    max-width: 360px;
  }

  @include screen-lg {
    max-width: 440px;
  }
}

.formButton {
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 0;
  background-color: var(--color-red);
  border-radius: var(--border-radius-full);
  width: 33px;
  height: 33px;
  justify-content: center;

  @include screen-lg {
    right: 8px;
    top: 8px;
    width: 43px;
    height: 43px;
  }
}

.formButtonIcon {
  height: 16px;
  width: 16px;

  @include screen-lg {
    height: 20px;
    width: 20px;
  }
}

.moreButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--color-white);
  font-size: 1.25rem;
  margin-left: auto;
  padding: 11px 15px;


  svg {
    transform: rotate( 90deg );
  }
}