@import "@/styles/media";

.dateCounterSection {
  margin-bottom: 40px;

  @include screen-lg {
    margin-bottom: 60px;
  }
}


.dateCounter {
  display: flex;
  justify-content: center;
  column-gap: 4px;

  @include screen-sm{
    column-gap: 12px;
  }

  @include screen-lg {
    column-gap: 0;
  }
}

.dateSeparator {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  color: var(--color-blue-dark);

  @include screen-lg {
    font-size: 4.5rem;
    padding-right: 2px;
  }
}
